<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>DBServlet</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file><welcome-file>welcome.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		
	</welcome-file-list>

	<servlet>
		<servlet-name>DBServlet</servlet-name>
		<servlet-class>lf05.DBServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DBServlet</servlet-name>
		<url-pattern>/DBServlet</url-pattern>
	</servlet-mapping>
</web-app>