.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}
.bounce-top {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
      }
.shadow-drop-2-center {
        -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 }
 .scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.flicker-in-1 {
	-webkit-animation: flicker-in-1 2s linear both;
	        animation: flicker-in-1 2s linear both;
}

 @-webkit-keyframes rotate-center {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
      }
      @keyframes rotate-center {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
      }

.shadow-pop-tr {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}



/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */

 @-webkit-keyframes shadow-drop-2-center {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          -webkit-transform: translateZ(50px);
                  transform: translateZ(50px);
          -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
                  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
        }
      }
      @keyframes shadow-drop-2-center {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          -webkit-transform: translateZ(50px);
                  transform: translateZ(50px);
          -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
                  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
        }
      }
      
/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-top {
        0% {
          -webkit-transform: translateY(-45px);
                  transform: translateY(-45px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 1;
        }
        24% {
          opacity: 1;
        }
        40% {
          -webkit-transform: translateY(-24px);
                  transform: translateY(-24px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        65% {
          -webkit-transform: translateY(-12px);
                  transform: translateY(-12px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        82% {
          -webkit-transform: translateY(-6px);
                  transform: translateY(-6px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        93% {
          -webkit-transform: translateY(-4px);
                  transform: translateY(-4px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        25%,
        55%,
        75%,
        87% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        100% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
      }
      @keyframes bounce-top {
        0% {
          -webkit-transform: translateY(-45px);
                  transform: translateY(-45px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 1;
        }
        24% {
          opacity: 1;
        }
        40% {
          -webkit-transform: translateY(-24px);
                  transform: translateY(-24px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        65% {
          -webkit-transform: translateY(-12px);
                  transform: translateY(-12px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        82% {
          -webkit-transform: translateY(-6px);
                  transform: translateY(-6px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        93% {
          -webkit-transform: translateY(-4px);
                  transform: translateY(-4px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        25%,
        55%,
        75%,
        87% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        100% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
      }
/**
 * ----------------------------------------
 * animation scale-up-ver-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-ver-center {
        0% {
          -webkit-transform: scaleY(0.4);
                  transform: scaleY(0.4);
        }
        100% {
          -webkit-transform: scaleY(1);
                  transform: scaleY(1);
        }
      }
      @keyframes scale-up-ver-center {
        0% {
          -webkit-transform: scaleY(0.4);
                  transform: scaleY(0.4);
        }
        100% {
          -webkit-transform: scaleY(1);
                  transform: scaleY(1);
        }
      }

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
        0% {
          -webkit-transform: translateY(200px);
                  transform: translateY(200px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      @keyframes fade-in-bottom {
        0% {
          -webkit-transform: translateY(200px);
                  transform: translateY(200px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker-in-1 {
        0% {
          opacity: 0;
        }
        10% {
          opacity: 0;
        }
        10.1% {
          opacity: 1;
        }
        10.2% {
          opacity: 0;
        }
        20% {
          opacity: 0;
        }
        20.1% {
          opacity: 1;
        }
        20.6% {
          opacity: 0;
        }
        30% {
          opacity: 0;
        }
        30.1% {
          opacity: 1;
        }
        30.5% {
          opacity: 1;
        }
        30.6% {
          opacity: 0;
        }
        45% {
          opacity: 0;
        }
        45.1% {
          opacity: 1;
        }
        50% {
          opacity: 1;
        }
        55% {
          opacity: 1;
        }
        55.1% {
          opacity: 0;
        }
        57% {
          opacity: 0;
        }
        57.1% {
          opacity: 1;
        }
        60% {
          opacity: 1;
        }
        60.1% {
          opacity: 0;
        }
        65% {
          opacity: 0;
        }
        65.1% {
          opacity: 1;
        }
        75% {
          opacity: 1;
        }
        75.1% {
          opacity: 0;
        }
        77% {
          opacity: 0;
        }
        77.1% {
          opacity: 1;
        }
        85% {
          opacity: 1;
        }
        85.1% {
          opacity: 0;
        }
        86% {
          opacity: 0;
        }
        86.1% {
          opacity: 1;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes flicker-in-1 {
        0% {
          opacity: 0;
        }
        10% {
          opacity: 0;
        }
        10.1% {
          opacity: 1;
        }
        10.2% {
          opacity: 0;
        }
        20% {
          opacity: 0;
        }
        20.1% {
          opacity: 1;
        }
        20.6% {
          opacity: 0;
        }
        30% {
          opacity: 0;
        }
        30.1% {
          opacity: 1;
        }
        30.5% {
          opacity: 1;
        }
        30.6% {
          opacity: 0;
        }
        45% {
          opacity: 0;
        }
        45.1% {
          opacity: 1;
        }
        50% {
          opacity: 1;
        }
        55% {
          opacity: 1;
        }
        55.1% {
          opacity: 0;
        }
        57% {
          opacity: 0;
        }
        57.1% {
          opacity: 1;
        }
        60% {
          opacity: 1;
        }
        60.1% {
          opacity: 0;
        }
        65% {
          opacity: 0;
        }
        65.1% {
          opacity: 1;
        }
        75% {
          opacity: 1;
        }
        75.1% {
          opacity: 0;
        }
        77% {
          opacity: 0;
        }
        77.1% {
          opacity: 1;
        }
        85% {
          opacity: 1;
        }
        85.1% {
          opacity: 0;
        }
        86% {
          opacity: 0;
        }
        86.1% {
          opacity: 1;
        }
        100% {
          opacity: 1;
        }
      }

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
